<!DOCTYPE html>
<html>
<title>HTML Tutorial</title>

<body>
<h1>abrir la consola para ver la magia</h1>
<script type ="text/javascript">
//arrow function de una linea

const iterador = () => 123;

const res= iterador();
console.log ('res:', res);


//con arreglos
// map recibe una funcion
//elemento = 1, 2, 3
// index =casilla (o,1,2,3,)
let arr=[1,2,3,4,5];

const iter = (arr) => arr.map((elemento, index) => (elemento *2));

//defaults en los  parametros
//const sumar =(num1, num2)=>{
 // if(!num1)
 // num1=0;
 // if (!num2)
 // num2=0;
 // return num1+num2;
//}
//console.log(sumar(5));

//const sumar =(num1=0, num2=0)=>(num1+num2);
//console.log(sumar(5));

//============================================================
//Pipes


const sumar =(num1, num2) =>(num1 + num2);
//const n1=5;
//const n2= false;

//console.log(sumar(n1 || 0, n2 || 0));
//===========================================================
//Interpolation, concatenations se face cu `` poner variables adentro de strings

const dia ="Domingo";
//let oracion =` Hoy es ${dia}`;
//console.log(oracion);

//==========================================================
//Object desctructuring

let persona = {
  nombre: 'olga',
  apellido: 'sald',
  peso: 1234,
  altura: 9876,
  edad: 50

};

//let nombre= persona.nombre;
//let apellido = persona.apellido;
//let edad = persona.edad;
let { nombre, apellido: ap, edad } = persona;

let oracion =`Hola, soy ${nombre} ${ap} y tengo ${edad}`;
//console.log(oracion);
//=========================================================
//Array Destructuring

/////let arreglo = [10, 20, 30, 40, 50];
//let [nm1, nm2, , ,nm4] = arreglo;
//console.log (nm1, nm2, nm5);
//Object destructuring en parametros

const saludo=({ nombre, apellido, edad }) => (
  `Hola, soy ${nombre} ${apellido} y tengo ${edad}`
); 

let estudiante= {
  nombre: 'Olga',
  apellido: 'Apellido',
  edad: 300
}
//console.log (saludo(persona));
//console.log (saludo(estudiante));
//le puedo agregar cualquier objeto, destructurado en el 


//============================================
//Spread Operator
let info_extra ={
  ojos: 2,
  pelo:'rubio',
  altura: 1.2,
  genero: 'masculino',
  sexo: 'pls'
}

//let personaCompleta ={
 // persona.apellido
//persona.nombre
//info_extra.ojos
//}

let nueva_persona ={
  ...persona,
  ...info_extra,
  piel: 'moreno',
  algo: 'mas',
  nombre: 'Clon'
}
//console.log(nueva_persona);

//========================================
//Closures = una function que me regresa otra function
// function anomina no tiene nombre, aunque esta almacenada en una variable
const restar = (numeros) => {
   const resta = numeros.num1 - numeros.num2;
      return () => `El resultado es ${resta}`; 
};

let ejemplo = restar( {num1: 10, num2: 3 } );
let ejemplo2= restar({ num1:13, num2:3});
//console.log(ejemplo());
//console.log(ejemplo2());
//============================================
//Closure entrevista

const miFuncion = (num) => () => console.log (num+15);
const suma = miFuncion(5);
//console.log(suma());

//============================================
//cuando el objeto se llama igual que la variable

//const especie ='Rana';
//const color ='verde';
//const material ='pelushe';
//const hogar ='estushe';

//const animal = {
 // especie,
 // color: color,
 // material,
 // hogar: casa
//}
//console.log(animal);
//============================================
// ternario

let valor= - 9
 if(valor > 0)
 console.log('Positivo');
 else
 console.log('Negativo');

(valor > 0 ) ? console.log('Positivo') :  console.log('Negativo');
(valor > 0 ) ? miFuncion() :  console.log('Negativo');

</script>

</body>
</html>